.App {
    text-align: center;
 margin: auto;
 
  }
  
  .my__div{
    display: flex;
    justify-content: center;
   margin-left: auto;
   margin-top: -40%;
    box-shadow: 2px 2px 2px gray;
    padding: 10px;
    border: 1px solid gray;
    width: 80%;
  }
  .my__div > input{
    width: 60%;
    
  }
  .gallery{
   display: flex;
   flex-wrap: wrap;
   margin: 0px auto;
   justify-content: center;
   margin-top: 80%;
   
  }
  .gallery > img{
    width: 30%;
    margin: 5px ;
  }
  span{
    display: flex;
    align-items: center;
    font-size: 30px;
  }